<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="1186"
	android:versionName="1.1.8.6"
	android:compileSdkVersion="34"
	android:compileSdkVersionCodename="14"
	package="com.tungsten.fclx"
	platformBuildVersionCode="34"
	platformBuildVersionName="14"
	>
	<uses-sdk
		android:minSdkVersion="26"
		android:targetSdkVersion="34"
		>
	</uses-sdk>
	<uses-feature
		android:glEsVersion="0x00020000"
		>
	</uses-feature>
	<uses-permission
		android:name="android.permission.ACCESS_NETWORK_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_WIFI_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.INTERNET"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.MODIFY_AUDIO_SETTINGS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.REQUEST_INSTALL_PACKAGES"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.REQUEST_DELETE_PACKAGES"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.QUERY_ALL_PACKAGES"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.VIBRATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WAKE_LOCK"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_EXTERNAL_STORAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.SYSTEM_ALERT_WINDOW"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.FOREGROUND_SERVICE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_SUPERUSER"
		>
	</uses-permission>
	<uses-permission
		android:name="com.android.launcher.permission.INSTALL_SHORTCUT"
		>
	</uses-permission>
	<uses-permission
		android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"
		>
	</uses-permission>
	<uses-feature
		android:name="android.hardware.type.pc"
		android:required="false"
		>
	</uses-feature>
	<uses-permission
		android:name="android.permission.READ_EXTERNAL_STORAGE"
		android:maxSdkVersion="29"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		android:maxSdkVersion="29"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.INTERNET"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_NETWORK_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.VIBRATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.REQUEST_INSTALL_PACKAGES"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.FOREGROUND_SERVICE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_WIFI_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_PHONE_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_COARSE_LOCATION"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_FINE_LOCATION"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.CHANGE_WIFI_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.RECORD_AUDIO"
		>
	</uses-permission>
	<queries
		>
		<package
			android:name="net.kdt.pojavlaunch.ffmpeg"
			>
		</package>
		<intent
			>
			<action
				android:name="android.intent.action.MAIN"
				>
			</action>
		</intent>
	</queries>
	<permission
		android:name="com.tungsten.fcl.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSIONbk"
		android:protectionLevel="0x00000002"
		>
	</permission>
	<uses-permission
		android:name="com.tungsten.fcl.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSIONbk"
		>
	</uses-permission>
	<application
		android:theme="@7F100228"
		android:label="@7F0F0066"
		android:icon="@7F0D0000"
		android:name="com.tungsten.fcl.FCLApplication"
		android:allowBackup="true"
		android:largeHeap="true"
		android:supportsRtl="true"
		android:isGame="true"
		android:extractNativeLibs="true"
		android:fullBackupContent="@7F120002"
		android:usesCleartextTraffic="true"
		android:networkSecurityConfig="@7F120004"
		android:roundIcon="@7F0D0000"
		android:appCategory="0"
		android:appComponentFactory="androidx.core.app.CoreComponentFactory"
		android:hasFragileUserData="true"
		android:requestLegacyExternalStorage="true"
		android:allowNativeHeapPointerTagging="false"
		android:preserveLegacyExternalStorage="true"
		android:dataExtractionRules="@7F120003"
		>
		<activity
			android:name="com.tungsten.fcl.activity.SplashActivity"
			android:exported="true"
			android:screenOrientation="6"
			android:configChanges="0x00000DF0"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.MAIN"
					>
				</action>
				<category
					android:name="android.intent.category.LAUNCHER"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:name="com.tungsten.fcl.activity.MainActivity"
			android:screenOrientation="6"
			android:configChanges="0x00000DF0"
			>
		</activity>
		<activity
			android:name="com.tungsten.fcl.activity.WebActivity"
			android:screenOrientation="6"
			android:configChanges="0x00000DF0"
			>
		</activity>
		<activity
			android:name="com.tungsten.fcl.activity.ControllerActivity"
			android:screenOrientation="6"
			android:configChanges="0x00000DF0"
			>
		</activity>
		<activity
			android:name="com.tungsten.fcl.activity.ShellActivity"
			android:screenOrientation="7"
			android:configChanges="0x00000DF0"
			android:windowSoftInputMode="0x00000010"
			>
		</activity>
		<activity
			android:name="com.tungsten.fcl.activity.JVMActivity"
			android:process=":jvm"
			android:multiprocess="true"
			android:launchMode="0"
			android:screenOrientation="6"
			android:configChanges="0x00000DF0"
			android:alwaysRetainTaskState="true"
			>
		</activity>
		<activity
			android:name="com.tungsten.fcl.activity.JVMCrashActivity"
			android:process=":crash"
			android:screenOrientation="6"
			android:configChanges="0x00000DF0"
			>
		</activity>
		<activity
			android:name="com.tungsten.fcllibrary.browser.FileBrowserActivity"
			android:screenOrientation="6"
			android:configChanges="0x00000DF0"
			>
		</activity>
		<activity
			android:name="com.tungsten.fcllibrary.crash.CrashReportActivity"
			android:screenOrientation="6"
			android:configChanges="0x00000DF0"
			>
		</activity>
		<activity
			android:name="com.tungsten.fcl.activity.InstallActivity"
			android:exported="true"
			android:launchMode="2"
			>
			<intent-filter
				android:label="@7F0F01F3"
				>
				<action
					android:name="android.intent.action.VIEW"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
				<category
					android:name="android.intent.category.BROWSABLE"
					>
				</category>
				<data
					android:mimeType="*/*"
					>
				</data>
				<data
					android:scheme="content"
					>
				</data>
			</intent-filter>
		</activity>
		<service
			android:name="com.tungsten.fclcore.download.ProcessService"
			android:enabled="true"
			android:process=":processService"
			>
		</service>
		<provider
			android:name="com.tungsten.fcl.scoped.FolderProvider"
			android:permission="android.permission.MANAGE_DOCUMENTS"
			android:exported="true"
			android:authorities="@7F0F0190"
			android:grantUriPermissions="true"
			>
			<intent-filter
				>
				<action
					android:name="android.content.action.DOCUMENTS_PROVIDER"
					>
				</action>
			</intent-filter>
		</provider>
		<provider
			android:name="androidx.core.content.FileProvider"
			android:exported="false"
			android:authorities="@7F0F019A"
			android:grantUriPermissions="true"
			>
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@7F120005"
				>
			</meta-data>
		</provider>
		<provider
			android:name="com.tungsten.fcllibrary.crash.CrashReporterInitProvider"
			android:exported="false"
			android:authorities="com.tungsten.fclx.crashreporterinitprovider"
			android:initOrder="101"
			>
		</provider>
		<provider
			android:name="androidx.startup.InitializationProvider"
			android:exported="false"
			android:authorities="com.tungsten.fclx.androidx-startup"
			>
			<meta-data
				android:name="androidx.emoji2.text.EmojiCompatInitializer"
				android:value="androidx.startup"
				>
			</meta-data>
			<meta-data
				android:name="androidx.lifecycle.ProcessLifecycleInitializer"
				android:value="androidx.startup"
				>
			</meta-data>
			<meta-data
				android:name="androidx.profileinstaller.ProfileInstallerInitializer"
				android:value="androidx.startup"
				>
			</meta-data>
		</provider>
		<receiver
			android:name="androidx.profileinstaller.ProfileInstallReceiver"
			android:permission="android.permission.DUMP"
			android:enabled="true"
			android:exported="true"
			android:directBootAware="false"
			>
			<intent-filter
				>
				<action
					android:name="androidx.profileinstaller.action.INSTALL_PROFILE"
					>
				</action>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="androidx.profileinstaller.action.SKIP_FILE"
					>
				</action>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="androidx.profileinstaller.action.SAVE_PROFILE"
					>
				</action>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"
					>
				</action>
			</intent-filter>
		</receiver>
	</application>
</manifest>